.footer__contact
{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}
.footer__wrapper
{
    width: 100%;
    border-top: 5px solid var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 50px;
}