.nav__wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100%;
    color: var(--color-secondary);
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .nav__wrapper
    {
        width: 100%;
        justify-content: center;
        gap:15px;
    }
}